.navv{
    background-color: rgb(48, 42, 116);
    box-shadow: 10px 10px 10px 15px rgb(54, 43, 43);
    height: 70px;
    width: auto;
}
.back{
    background-image: url(de.jpg);
    background-size: cover;
    background-image: no-repeat;
    height: 900px;
    width: auto;
    margin-top: 10px;
}
img{
    height: 250px;
    width: 400px;
    position: relative;
    top: 100px;
}
.de{
    padding-top: 7%;
    color: white;
}
.pa{
    color: white;
    padding-bottom: 100px;
}
#ch{
    color: white;
    padding-left: 20px;
    position: relative;
    top: 10px;
}
#bu{
    color: white; 
    margin-left: 80%;
    align-items: center; 
    background-color: rgb(74, 71, 71);
     height: 30px;
     width: 100px;
     border-radius: 10px;
     position: relative;
      bottom: 35px;
}