.back{
    background-image: url(Java.jpg);
    height: 600px;
    width: auto;
    position: relative;
    top: 10px;
}
.navv{
    background-color: rgb(48, 42, 116);
    box-shadow: 10px 10px 10px 15px rgb(54, 43, 43);
    height: 70px;
    width: auto;
}
#ch{
    color: white; 
    padding-left: 20px;
    position: relative;
    top: 10px;
}
#but{
    color: white;
    margin-left: 80%;
    align-items: center;
    background-color: rgb(74, 71, 71);
    height: 30px;
    width: 100px;
    border-radius: 10px;
    position: relative;
    bottom: 35px;
}